<ion-header>
  <ion-toolbar>
    <ion-title>All Blogs</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/blog-add">Add Blog</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <ion-list class="list">
    <ion-item *ngFor="let blog of blogs" >
    
      <ion-a class="title" [routerLink]="['/blog-details', blog.id]"> {{ blog.title | capitalizeFirst }}</ion-a>

      <ion-buttons slot="end">
        <ion-button 
          fill="clear" 
          color="primary"
          [routerLink]="['/blog-edit', blog.id]"
        >
          Edit
        </ion-button>

        <ion-button 
          fill="clear" 
          color="danger"
          (click)="deleteBlog(blog.id!)"
        >
        Delete
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more blogs...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
