<ion-header [translucent]="true">
   
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/blog-list"></ion-back-button>
    </ion-buttons>
    <ion-title>Blog details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
   <ion-card>
      <ion-card-header>
         <ion-card-title>{{ blog?.title | json | capitalizeFirst  }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
         {{ blog?.body }}
      </ion-card-content>
   </ion-card>
</ion-content>
